<form [formGroup]="form" class="mt-5 relative">
  @if (label){
  <span
    class="not-italic font-semibold text-lg flex items-center text-gray-2"
    >{{ label }}</span
  >
  }
  <span class="p-float-label">
    <input
      id="{{ formControlName }}"
      type="text"
      mask="00.000-000"
      pInputText
      [formControlName]="formControlName"
    />
    <label for="{{ formControlName }}" class="text-gray-3 a">{{
      placeholder
    }}</label>
  </span>

  @if( form.get(formControlName)?.hasError('required') &&
  (form.get(formControlName)?.touched || form.get(formControlName)?.dirty) ){
  <small class="text-c-error animacao font-bold absolute right-0">
    {{ "Campo requerido" }}</small
  >
  } @if(form.get(formControlName)?.errors &&
  !form.get(formControlName)?.hasError('required')){
  <small class="text-c-error animacao font-bold absolute right-0">
    {{ "Campo inválido" }}
  </small>
  }
</form>
