<p-toast
[showTransformOptions]="'translateY(100%)'"
[showTransitionOptions]="'600ms'"
[hideTransitionOptions]="'600ms'"
[showTransformOptions]="'translateX(100%)'"
>
<ng-template let-message pTemplate="message">
  <div
    [ngClass]="{
      'text-c-error ': message.severity === 'error',
      'text-c-success': message.severity === 'success',
      'text-c-warn': message.severity === 'warn',
      'text-c-info': message.severity === 'info'
    }"
    class="font-light text-base flex gap-2 px-3 items-center h-12"
  >
    <i
      [ngClass]="{
        'ph-x-circle': message.severity === 'error',
        'ph-check-circle': message.severity === 'success',
        'ph-warning': message.severity === 'warn',
        'ph-info': message.severity === 'info'
      }"
      class="ph-bold text-2xl"
    ></i>
    <span class="text-lg font-normal max-w-72 md:max-w-max texto-overflow">{{ message.summary }}</span>
  </div>
</ng-template>
</p-toast>
<ngx-spinner
bdColor="rgba(0, 0, 0, 0.7)"
size="large"
type="ball-triangle-path"
[fullScreen]="true"
[color]="'#8dcb00'"
></ngx-spinner>

<div class="tema">
  <router-outlet></router-outlet>

</div>
